$amarillo: #f5d57b;


$background-color-black: #2e3438;

$grey-color:#f8f8f23f;


$link-text:#000;
body{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcdf9f 100%);
    
    overflow-x: hidden;
}